.input-query {
   padding: 15px;
   font-size: 20px;
 }
 
 .post-item-enter {
   opacity: 0;
   margin-left: -50px;
 }
 .post-item-enter-active {
   opacity: 1;
   margin-left: 0px;
   transition: all 500ms ease-in-out;
 }
 .post-item-exit {
   opacity: 1;
   margin-right: -150px;
   transition: all 400ms ease-in-out;
 }
 .post-item-exit-active {
   opacity: 0;
   margin-left: 150px;
   transition: all 400ms ease-in-out;
 }