.my-button {
   padding: 10px;
   background: white;
   border-radius: 5px;
   cursor: pointer;
 }

 .my-button.delete {
  border: 1.5px solid rgb(224, 92, 3);
 }

 .my-button.delete:hover {
  background-color: rgba(242, 59, 9, 0.272);
 }

 .my-button.add {
  border: 1.5px solid rgba(32, 199, 46, 0.559);
  text-align: center;
 }

 .my-button:hover {
   background-color: rgba(128, 128, 128, 0.193);
 }

 .modal-open {
  font-size: 22px;
  color: rgb(255, 111, 0);
  border-radius: 5px;
  width: 175px;
  text-align: center;
  padding: 10px;
  border: 2px solid rgba(112, 128, 144, 0.329);
  box-shadow: 5px 5px 5px rgba(112, 128, 144, 0.329);
 }

 .modal-open:hover {
  background-color: rgba(31, 194, 66, 0.078);
  cursor: pointer;
  border: 2px solid rgba(35, 209, 87, 0.329);
 }
