.post-form {
   margin: 20px;
   display: flex;
   flex-direction: column;
   gap: 5px;
   border-radius: 5px;
 }
 
 .post-add-header {
   font-size: 24px;
   text-align: center;
   padding: 5px;
   color: rgba(227, 126, 11, 0.909);
 }
 
